<div class="info-panel--container"
     id="{{ $ctrl.field.name }}">
  <div ng-bind="$ctrl.field.name"
       class="info-panel--field-name"></div>

  <table class="info-table">
    <tr class="info-table--tr">
      <td class="info-table--td-label">
        Type
      </td>
      <td>
        <div ng-bind="$ctrl.field.data_type"></div>
      </td>
    </tr>
    <tr class="info-table--tr">
      <td class="info-table--td-label">
        Usage
      </td>
      <td>
        <span ng-repeat="usage in $ctrl.field.app_keys"
             ng-bind="usage + ' '"></span>
      </td>
    </tr>
  </table>
</div>
