@import 'vendor/bootstrap-sprockets';
@import 'vendor/bootstrap';

html,
body {
  height: 100%;
}

.page {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  height: 100%;
}

.navigator {
  height: 100%;
  overflow-y: scroll;
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #e1e1e1;
}

.navigator--header {
  padding: 10px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  background-color: teal;
}

.info-section {
  height: 100%;
  overflow-y: scroll;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eeeeee;
}

.info-panel--header {
  color: teal;
  font-size: 18px;
}

.info-panel--container {
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}

.info-panel--field-name {
  color: teal;
}

.info-table {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #eee;

  td {
    padding: 10px;
  }
}

.info-table--tr {
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: 0;
  }
}

.info-table--td-label {
  background-color: #f2fbff;
  border-right: 1px solid #eee;
}

.field-groups {
  border: 1px solid #eaeaea;
}

.field-group {
  background-color: #fbfbfb;
  border-bottom: 1px solid #eaeaea;
}

.field-group__active {
  background-color: #ffffff;

  .field-group--name {
    color: black;
  }
}

.field-group--name {
  color: teal;
  padding: 5px;
  cursor: pointer;
}

.field--name {
  padding: 5px;
  margin-bottom: 2px;
  color: gray;
  border-left: 3px solid gray;
  cursor: pointer;
}

.field--name__active {
  color: purple;
  border-left-color: purple;
}
